.filter {
  font-size: 12px;
}
.ngx-datatable.material {
  // background: #fff;
  box-shadow: none !important;
}

.filter div {
  padding: 3px;
  background-color: #00AAFF;
  border-radius: 5px;
  color: white;
  margin: 0 5px;
}

.filter-active {
  background-color: #006699;
  color: white !important;
}
.w-15{
  width:15%;
}

.white-space-normal{
  white-space: normal;
}
.text-underline{
  text-decoration: underline;
}

.cursor-pointer{
  cursor: pointer;
}

.text-overflow-ellipsis{
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#ngx-datatable::ng-deep.ngx-datatable.material .datatable-body {
  position: relative;
  height: calc(100vh - 271px) !important;
  overflow-y: auto;
  overflow-x: hidden;
}
#ngx-datatable::ng-deep .ngx-datatable.fixed-row .datatable-scroll .datatable-body-row {
  padding-left: 17px !important;
}
#ngx-datatable::ng-deep.ngx-datatable.material.single-selection
  .datatable-body-row.active
  .datatable-row-group {
  border-bottom: 1px solid #dee2e6 !important;
  border-top: 1px solid #dee2e6 !important;
  //  border-left: 1px solid #6D7885 !important;
  border-right: 1px solid #dee2e6 !important;
  transform: translate3d(0px, 0px, 0px) !important;
  // color: #212121 !important;
}

#ngx-datatable::ng-deep.ngx-datatable.material .datatable-body-row {
  border-bottom: 1px solid #ebebe0 !important;
}

#ngx-datatable::ng-deep  .ngx-datatable .datatable-header .datatable-header-cell .datatable-header-cell-template-wrap {
  font-size: 8px !important;
}

#ngx-datatable::ng-deep .ngx-datatable-cell-template {
  font-size: 9px !important;
}

.fs-9 {
  font-size: 9px !important;
}

#ngx-datatable::ng-deep .ngx-datatable.material
  .datatable-body
  .datatable-body-row
  .datatable-body-cell {
  padding-right: 0 !important;
  padding-left: -1px !important;
  font-size: 9px !important;
}
#ngx-datatable::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .bc-e {
  background-color: #e5f5ff !important;
  padding-right: 10px !important;
}
#ngx-datatable::ng-deep .ngx-datatable.material .datatable-header {
  height: 40px !important;
}

#ngx-datatable::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .bc-r {
  background-color: #f65150 !important;
  color: white;
}

#ngx-datatable::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .bc-lr {
  background-color: #fee5e5 !important;
  // padding-right: 10px !important;
}
.form-check-input:checked {
  background-color: #006699;
  border-color: #006699;
}