<vg-player class="h-100 w-100 video-template">
    <vg-controls>
        <vg-play-pause></vg-play-pause>
        <!-- <vg-playback-button></vg-playback-button> -->
        <vg-time-display vgProperty="current" vgFormat="hh:mm:ss"></vg-time-display>
        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>
        <vg-time-display vgProperty="total" vgFormat="hh:mm:ss"></vg-time-display>
        <vg-mute></vg-mute>
        <!-- <vg-volume></vg-volume> -->
        <vg-fullscreen></vg-fullscreen>
    </vg-controls>
    <video id="player{{uuid}}" class="img-zoom" #media [vgMedia]="$any(media)" preload="auto" autoplay 
        (dblclick)="resetZoom()" crossorigin>
        <source src="{{url}}" type="video/mp4">
    </video>
</vg-player>