.img-zoom {
    background: transparent url('../../../../assets/gif/loader.gif') center no-repeat;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
}

.video-template {
    border-radius: 5px 5px 0px 0px;
    font-size: 10px;
}