<div class="credentialCss m-auto">
  <h2 class="fw-bolder mb-5">Forgot password</h2>
  <p class="fw-bolder">E-mail ID</p>
  <input type="email" class="form-control form-control-lg" placeholder="Enter Email ID" [(ngModel)]="emailId">
  <div *ngIf="submitClicked" style="margin-top: 15px;">
    <p class="fw-bolder">Verification Code</p>
    <!-- <input type="number" min="1" max="6" class="form-control form-control-lg" placeholder="Enter Verification Code" [(ngModel)]="code"  onkeypress="if(this.value.length >= 6) return false;"/> -->
    <!-- <input type="number" class="form-control form-control-lg" placeholder="Enter Verification Code" [(ngModel)]="code"  pattern="\d{1,6}" min="0" maxlength="6" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"/> -->
    <input type="text" class="form-control form-control-lg" placeholder="Enter Verification Code" [(ngModel)]="code" inputmode="numeric" pattern="[0-9]*" maxlength="6"/>

    <p class="fw-bolder" style="margin-top: 10px;">New Password</p>
    <!-- <div class="input-group">
      <input pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
      title="Must contain at least one number, one uppercase, one lowercase letter and one special character, and at least 8 or more characters"  [type]="showPassword ? 'text' : 'password'" class="form-control form-control-lg" placeholder="Enter password"
      [(ngModel)]="newPassword">
      <button class="btn border" type="button" (click)="showHidePassword()">
        <i [ngClass]="showPassword ? 'fa fa-eye'  : 'fa fa-eye-slash'"></i>
      </button>
    </div> -->
    <form [formGroup]="passwordForm">
      <div class="input-group">
        <input formControlName="password" [type]="showPassword ? 'text' : 'password'" class="form-control form-control-lg" placeholder="Enter password"
      [(ngModel)]="newPassword">
      <button class="btn border" type="button" (click)="showHidePassword()">
        <i [ngClass]="showPassword ? 'fa fa-eye'  : 'fa fa-eye-slash'"></i>
      </button>
      </div>
    </form>
    <div class="errors" *ngIf="passwordForm.get('password').invalid && (passwordForm.get('password').touched || passwordForm.get('password').dirty)">

      <div *ngIf="passwordForm.get('password').hasError('required')">
        * Password is required
      </div>

      <div *ngIf="passwordForm.get('password').errors.minlength">
        * Password must be at least 8 characters
      </div>

      <div class="error-text" *ngIf="passwordForm.get('password').hasError('passwordStrength')"
      [innerText]="passwordForm.get('password').errors['passwordStrength']" >

      </div>
    </div>

    <!-- <input type="password" class="form-control form-control-lg" placeholder="Enter New Password" [(ngModel)]="newPassword"> -->
  </div>
  <button *ngIf="!submitClicked" class="btn btn-basic btn-lg fullWidth mt-4 submit-button" type="submit" [disabled]="!emailId.length" (click)="forgotPassword()">SUBMIT</button>
  <button *ngIf="submitClicked" class="btn btn-basic btn-lg fullWidth mt-4 submit-button" type="submit" [disabled]="!(code.length || newPassword.length) || passwordForm.get('password').hasError('required') || passwordForm.get('password').errors.minlength || passwordForm.get('password').hasError('passwordStrength')" (click)="submitNewPassword()">SUBMIT</button>
  <div class="d-flex mt-3">
      <a class="back m-auto" (click)="backClicked()">Back</a>
  </div>
</div>
