$primary-color:#006699;

.credentialCss {
  width: 100%;
}

h2 {
  color: $primary-color;
}

.back {
  cursor: pointer;
  text-decoration: none;
  color: $primary-color;
}

.errors{
  color: red;
  opacity: 0.60;
}
