<div class="p-1">
  <div class="fs-11 text-color fw-400">Activities</div>
  <div class="d-flex justify-content-between align-items-center mt-2">
    <div class="d-flex align-items-center fs-11">
      <div>Show:</div>
      <div class="w-100px rounded text-center mx-2 fs-11 py-1 cursor-pointer"
        [ngClass]="selectedCardName == 'comments' ? 'selectedCard text-white' : 'text-color'"
        (click)="this.selectedCardName = 'comments'; selectCommentHistory('comments')">Comments</div>
      <div class="w-70px rounded text-center fs-11 py-1 cursor-pointer"
        [ngClass]="selectedCardName == 'history' ? 'selectedCard text-white' : 'text-color'"
        (click)="this.selectedCardName = 'history'; selectCommentHistory('history')">History</div>
    </div>
    <div class="fs-10px text-ash cursorPointer" (click)="sortUsingTime()">
      <ng-container *ngIf="sortByTime">
        Newest first
        <i class="fas fa-sort-amount-down fs-10px"></i>
        <!-- <i class="fas fa-sort-amount-up-alt"></i> -->
      </ng-container>
      <ng-container *ngIf="!sortByTime">
        Oldest first
        <i class="fas fa-sort-amount-up-alt fs-10px"></i>
      </ng-container>
    </div>

  </div>
  <ng-container *ngIf="selectedCardName == 'comments'">
    <div class="backs">
      <!-- <label class="fs-10px text-ash"><i>Enter new comments here...</i></label> -->
      <div class="line m-h-30px mt-2">
        <div #container></div>
        <div id="comment" contenteditable="true"
          class="back form-control m-h-40px border-none fs-12px resizable-content" data-ph="Enter new comments here..."
          [ngxTribute]="tributeOptions" [menuContainer]="container" [(ngModel)]="newComment" name="postData"
          (onMentioned)="onMentioned($event)" (mentionItemSelected)="onMentioned($event)" (input)="getCommentText()"
          #tributeElement></div>
        <!-- <textarea type="text" class="form-control m-h-25px bg-white border-none fs-12px" rows="1" placeholder="Enter new comments here..." [(ngModel)]="newComment" name="newComment"
        [ngxTribute]="tributeOptions"
        [(ngModel)]="newComment"
        name="postData"
        (onMentioned)="onMentioned($event)"
        (mentionItemSelected)="onMentioned($event)"
        #tributeElement></textarea> -->
      </div>
      <!-- <div *ngIf="!commonServices.alphaNumericWithoutSpaceValidator(newComment)" class="text-danger fs-10px mt-1">Comments cannot
        be empty and shouldn't have space characters at start and end
      </div> -->
      <div class="back d-flex justify-content-between align-items-center fs-10px">
        <div>
          <div class="btn-file">
            <!-- <button class="btn btn-sm browse-btn px-2  fs-10px fw-800">Browse Image</button> -->
            <button class="att btn btn-sm attech-btn  fs-10px fw-800 cursor-pointer" style="padding: 6px 15px;
            margin: 1px 5px;" title="Select document"><i
                class="fas fa-paperclip pe-2 text-basic fw-800"></i>Attach</button>
            <input type="file" accept="image/jpeg,image/png,application/pdf" multiple class="cursor-pointer" title="Select document"
              (change)="selectImage($event)" (click)="$event.target.value=null">
          </div>
          <!-- <img [src]="observationImage" > -->
        </div>
        <div class="d-flex">
          <!-- [disabled]="!commonServices.alphaNumericWithoutSpaceValidator(newComment)" -->
          <button class="btn btn-sm snd-btn btn-basic me-2  fs-10px fw-800" style="padding: 5px 20px !important;"
            [disabled]="newComment?.length == 0" (click)="submitComment()">SEND</button>
          <!-- <button class="btn btn-sm btn-basic me-2  fs-10px fw-800" (click)="submitComment()">SEND</button> -->
          <button class="btn btn-sm cncl-btn btn-outline-basic  fs-10px fw-800"
            style="padding: 5px 11px !important; margin: 0px 6px;" (click)="cancelComment()">CANCEL</button>
        </div>
      </div>
      <div class="d-flex flex-wrap">
        <div class="d-flex flex-wrap m-1" *ngFor="let item of actionCommentImage;let i = index">
          <div class="postImage position-relative w-125px">
            <div class="pe-2 pb-2 w-125px">
              <img *ngIf="item.includes('data:image/png') || item.includes('data:image/jpeg') || item.includes('data:image/jpg')"  [src]="item" width="125px" height="70px">
              <span *ngIf="item.includes('data:application/pdf')" class="inline-block ms-2" style="height:90px">
                <i class="fas fa-file-pdf primary-color fa-5x"></i>
              </span>
              
              <!-- <div class="h-30px rounded-bottom bg-dark text-white w-125px p-1">
                <div class=" fs-8px">{{images.filename | imageNameHideInfo }}</div>
                <div class="d-flex fs-8px">
                  <div class="me-2 fw-bold"><i class="far fa-calendar-alt pe-2"></i>{{images.created_at | date : 'yyyy-MM-dd'}}
                  </div>
                  <div class=" fw-bold"><i class="far fa-clock pe-2"></i>{{images.created_at | date : 'HH:mm:ss'}}</div>
                </div>
              </div> -->
            </div>
            <div class="delete-option">
              <div class="d-flex justify-content-center align-items-center">
                <!-- <div class="w-25px h-25px bg-white rounded d-flex justify-content-center align-items-center me-1" (click)="downloadImg()"><i class="fas fa-download text-color"></i></div> -->
                <div
                  class="w-25px h-25px bg-white rounded d-flex justify-content-center align-items-center cursor-pointer"
                  (click)="deleteSlectedCommentImg(i)"><i class="fas fa-trash custom"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-2">

    </div>
    <div id="issueComment" class=" comments-height">
      <div id="comment{{comment.id}}" class="back d-flex py-1" *ngFor="let comment of listOfComments">
        <div class="w-35px h-35px d-flex align-items-center justify-content-center ">
          <div class="d-flex align-items-center">
            <!-- <ng-container *ngFor="let item of listOfUsers">
              <ng-container *ngIf="item.id == comment.commented_by"> -->
            <div
              class="cust w-20px h-20px bg-danger rounded-circle d-flex align-items-center justify-content-center me-1 ">
              {{comment.commented_by.slice(0, 1) | uppercase}}</div>
            <!-- </ng-container>
            </ng-container> -->
          </div>
          <!-- <img src="assets/images/Mask Group 17.png" width="30px" height="30px" class="rounded-circle" alt=""> -->
        </div>
        <div class="width-comment ps-1 pt-1 bg-white px-1">
          <div class="comwid d-flex justify-content-between align-items-center border-bottom pb-2 mb-2">
            <div class="text-color fw-bold">
              <!-- <ng-container *ngFor="let item of listOfUsers">
                <ng-container *ngIf="item.id == comment.commented_by"> -->
              <div>{{comment.commented_by}}</div>
              <!-- </ng-container>
              </ng-container> -->
            </div>
            <div class="d-flex">
              <div class="me-2 text-color fw-bold"><i class="far fa-calendar-alt pe-2"></i>{{comment.date | date :
                'yyyy-MM-dd'}}
              </div>
              <div class="text-color fw-bold"><i class="far fa-clock pe-2"></i>{{comment.time}}
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center fs-12px">
            <div class="commentWidth ">
              <!-- <span class="text-color pe-2">email@gmail.com</span> -->
              <ng-container *ngFor="let item of comment.comment">
                <span class="fw-800 text-color fs-11px" *ngIf="containsSpecialChars(item)">{{returnUserMail(item) |
                  titlecase }}</span>
                <span class="pe-1" *ngIf="!containsSpecialChars(item) && item.length >=1">{{item}}</span>
              </ng-container>
              <!-- <span>{{comment.comment}}</span> -->
            </div>
            <div>
              <button class="btn btn-sm p-0 cursor-pointer" [disabled]="!(loggedUserEmail == comment?.commented_by)">
                <i class="fas fa-trash text-danger fs-14px" style="color: #F65150;"
                  (click)="deleteComment(comment)"></i>
              </button>
            </div>
          </div>
          <div class="pt-2 d-flex flex-wrap">
            <div class="d-flex p-1" style="flex: 50%;" *ngFor="let images of comment.comment_files">
              <div class="imageComments position-relative w-125px">
                <div class="img pe-2 pb-2 w-125px" id="modalImage">
                  <!-- <img [src]="images.image_path" width="125px" height="70px" class="rounded-corners"> -->
                  <div class="align-items-center">
                    <img
                      *ngIf="images?.image_path.includes('.jpg') || images?.image_path.includes('.jpeg') || images?.image_path.includes('.png') "
                      [src]="images?.image_path" width="120px" height="70px">
                    <!-- <img *ngIf="item.image_path.includes('.pdf')" src="/assets/icons/pdf.png" width="125px"
                    height="110px" class="rounded-corners"> -->
                    <!-- <span *ngIf="images.image_path.includes('.pdf')" class="inline-block ms-2" style="height: 70px !important;">
                      <i class="far fa-clock primary-color fa-5x"></i>
                    </span> -->
                    <span *ngIf="images?.image_path.includes('.pdf')" class="inline-block ms-2" style="height:90px">
                      <i class="fas fa-file-pdf primary-color fa-5x"></i>
                    </span>
                  <div class="h-30px rounded-bottom bg-dark text-white w-120px p-1">
                    <div class=" fs-7 issueImageName" [title]="displayImageFileName(images.image_path) ">{{ displayImageFileName(images.image_path) }}</div>
                    <div class="d-flex fs-7 py-1">
                      <div class="me-2 fw-bold"><i class="far fa-calendar-alt pe-2"></i>{{images.created_at | date :
                        'yyyy-MM-dd'}}
                      </div>
                      <div class=" fw-bold"><i class="far fa-clock pe-2"></i>{{images.created_at | date : 'HH:mm:ss'}}
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                <div class="download-option">
                  <div class="d-flex justify-content-center align-items-center">
                    <div
                      class="w-25px h-25px bg-white cursor-pointer rounded d-flex justify-content-center align-items-center me-1">
                      <button class="btn btn-sm p-0 cursor-pointer" (click)="downloadImg(images.image_path)">
                      <i class="fas fa-download text-color"></i>
                    </button>
                    </div>
                    <div class="w-25px h-25px bg-white rounded d-flex justify-content-center align-items-center">
                      <button class="btn btn-sm p-0" [ngClass]="(loggedUserEmail == comment?.commented_by) ? 'cursorPointer' : 'cursorDisabled'" [disabled]="!(loggedUserEmail == comment?.commented_by)" 
                        (click)="deleteActionCommentImage(images.id)">
                        <i class="fas fa-trash text-danger"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="selectedCardName == 'history'">
    <div class="bg-ash history-height rounded p-2">
      <div *ngIf="selectedRecommendationStatus == 'Maintenance Accepted'">
        <div class="fw-800 fs-11 text-color">Completed by</div>
        <div class="fs-11">
          <ng-container *ngFor="let item of listOfUsers">
            <ng-container *ngIf="item?.id == closedStatusData?.metadata?.user_id">
              <span [title]="item?.email">{{item?.email}}</span>
            </ng-container>
          </ng-container>
        </div>
        <div class="fs-11 opacity-75">{{closedStatusData?.date | date :
          'dd.MM.yyyy'}} / {{closedStatusData?.time}}</div>
      </div>
      <div class="fs-11 mt-3" *ngFor="let row of historyData">
        <div class="d-flex align-items-center" *ngIf="row.log_type != 'tag'">
          <ng-container *ngFor="let item of listOfUsers">
            <ng-container *ngIf="item?.id == row.metadata.user_id">
              <div
                class="m-w-20px w-20px h-20px bg-danger rounded-circle d-flex align-items-center justify-content-center me-1 ">
                {{item.name.slice(0, 1) | uppercase}}</div>
              <div [title]="item.name">{{item.name | titlecase}}</div>
              <div class="opacity-75">
                <span class="ps-1" *ngIf="row.log_type == 'status_change'"> Changed the status </span>
                <span class="ps-1" *ngIf="row.log_type == 'comment'"> Commented on </span>
                <span class="ps-1" *ngIf="row.log_type == 'comment_delete'"> Delete comment  </span>
                <span class="ps-1" *ngIf="row.log_type == 'issue_creation'"> Created this issue </span>
                <span class="ps-1" *ngIf="row.log_type == 'risk_rating'"> Changed the risk rating </span>
                <span class="ps-1" *ngIf="row.log_type == 'escalated'"> Escalated this issue </span>
                <span class="ps-1" *ngIf="row.log_type == 'image_delete'"> Deleted the image </span>
                <span class="ps-1" *ngIf="row.log_type == 'recommendation_creation'"> Created the recommendation </span>
                <span class="ps-1" *ngIf="row.log_type == 'observation_creation'"> Created the observation </span>
                <span class="ps-1" *ngIf="row.log_type == 'remarks_update'"> Update the remarks </span>
                <span class="ps-2">
                  {{row?.date | date :
                  'dd MMM yyyy'}} at {{row?.time}}
                </span>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="d-flex align-items-center" *ngIf="row.log_type == 'tag'">
          <ng-container *ngFor="let item of listOfUsers">
            <ng-container *ngIf="item?.id == row.metadata.tagged_by">
              <div
                class="m-w-20px w-20px h-20px bg-danger rounded-circle d-flex align-items-center justify-content-center me-1 ">
                {{item.name.slice(0, 1) | uppercase}}</div>
              <div [title]="item.name">{{item.name | titlecase}}</div>
              <div><span class="opacity-75 ps-2"> Tagged </span>
                <span class="opacity-100">
                  <ng-container *ngFor="let item of listOfUsers">
                    <ng-container *ngIf="item?.id == row.metadata.tagged_person">
                      <span [title]="item.name">{{item.name | titlecase}}</span>
                    </ng-container>
                  </ng-container>
                </span>
                <span class="ps-1">
                  {{row.date | date :
                  'dd MMM yyyy'}} at {{row.time}}
                </span>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div class="d-flex align-items-center mt-2" *ngIf="row.log_type == 'status_change'">
          <div>
            <button class="btn btn-sm fs-11 fw-800"
              [ngClass]="row.metadata.previous_status == 'Maintenance Accepted' ? 'status-dropdown-close' : 'status-dropdown-open'">{{row.metadata.previous_status}}</button>
          </div>
          <div class="mx-2 text-basic"> <i class="fas fa-arrow-right"></i> </div>
          <div>
            <button class="btn btn-sm fs-11 fw-800"
              [ngClass]="row.metadata.status_updated_to == 'Maintenance Accepted' ? 'status-dropdown-close' : 'status-dropdown-open'">{{row.metadata.status_updated_to}}</button>
          </div>
        </div>
        <div class="d-flex align-items-center mt-2" *ngIf="row.log_type == 'risk_rating'">
          <div>
            <button class="btn btn-sm me-2 text-white fs-10px "
              [ngClass]="{'veryLow' : row.metadata.old_rating == 1, 'low' : row.metadata.old_rating == 2, 'medium' : row.metadata.old_rating == 3, 'high' : row.metadata.old_rating == 4, 'veryHigh' : row.metadata.old_rating == 5}">{{returnRatingName(row.metadata.old_rating)}}</button>
          </div>
          <div class="mx-2 text-basic"> <i class="fas fa-arrow-right"></i> </div>
          <div>
            <button class="btn btn-sm me-2 text-white fs-10px"
              [ngClass]="{'veryLow' : row.metadata.new_rating == 1, 'low' : row.metadata.new_rating == 2, 'medium' : row.metadata.new_rating == 3, 'high' : row.metadata.new_rating == 4, 'veryHigh' : row.metadata.new_rating == 5}">{{returnRatingName(row.metadata.new_rating)}}</button>
          </div>
        </div>
        <div class="d-flex align-items-center opacity-75 mt-2" *ngIf="row.log_type == 'comment'">
          <ng-container *ngFor="let item of row.metadata.comment">
            <span class="fw-800 fs-11px" *ngIf="containsSpecialChars(item)">{{returnUserMail(item) | titlecase }}</span>
            <span class="pe-1" *ngIf="!containsSpecialChars(item) && item.length >=1">{{item}}</span>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<div class="modal fade" id="commentImagesPopupModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div data-bs-dismiss="modal" aria-label="Close" class="mx-2 text-basic fs-11 cursor"> <i
            class="fas fa-arrow-left pe-1"></i> Back</div>
        <div class="w-75 text-center">
          <div class="text-basic fs-11 fw-800">Attachments for Comment</div>
        </div>
      </div>
      <div class="modal-body h-400px">
        <div class="d-flex">
          <div class="w-135px left-part scroll">
            <div class="d-flex p-1" *ngFor="let images of commentImages">
              <div class="imageComments position-relative w-125px" (click)="this.selectedCommentImage = images">
                <div class="img pe-2 pb-2 w-125px" id="modalImage">
                  <img [src]="images.url" width="125px" height="110px" class="rounded-corners">
                </div>
                <div class="download-option">
                  <div class=" fs-8 issueImageName text-white px-2">{{images.filename}}</div>
                  <div class="d-flex justify-content-center align-items-center mt-2">
                    <div
                      class="w-25px h-25px bg-white cursor rounded d-flex justify-content-center align-items-center me-1"
                      (click)="downloadImg(images.url, false)">
                      <i class="fas fa-download text-color"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="fullImage pt-1 pe-1">
            <div>
              <div
                class="px-2 fs-12 bg-image-popup h-30px rounded text-white d-flex align-items-center justify-content-between">
                <div class="issueImageName">{{selectedCommentImage?.['filename']}}</div>
                <div class="d-flex align-items-center">
                  <div class="pe-2">{{selectedRecommendation?.created_by}}</div>
                  <div>{{selectedCommentImage?.['created_at'] | date :'yyyy-MM-dd'}} |
                    {{selectedCommentImage?.['created_at'] | date :
                    'HH:mm:ss'}}</div>
                  <div class="w-25px h-25px cursor rounded d-flex justify-content-center align-items-center"
                    (click)="downloadImg(selectedCommentImage?.['url'])">
                    <i class="fas fa-download text-color"></i>
                  </div>
                </div>
              </div>
              <div class="w-100 image-height pt-1">
                <img [src]="selectedCommentImage?.['url']" width="100%" height="100%" class="rounded">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
