.navDiv {
    background-color: white;
    height: 46px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // margin-left: -20px;
}

.active-tab {
    border-bottom: 5px solid #FFBC00;
    color: #006699 !important;
    opacity: 1 !important;
    font-size: 12px !important;
}

.innerNavDiv {
    top: 20%;
    left: 46%;
    position: absolute;
}

.innerNavDiv-permit {
  top: 20%;
  left: 66%;
  position: absolute;
}

.nav-link {
    font-size: 10px;
    color: #1E3044;
    cursor: pointer;
    opacity: 0.6;
    font-size: 11px;
    /* animation-name: example;
    animation-duration: 2s; */
}

@keyframes example {
    0%   {
        color: #1E3044;
        cursor: pointer;
        opacity: 0.6;
        font-size: 11px;
    }
    25%  {
        color: #1E3044;
        cursor: pointer;
        opacity: 0.8;
        font-size: 11.25px;
    }
    50%  {
        color: #1E3044;
        cursor: pointer;
        opacity: 0.9;
        font-size: 11.50px;
    }
    100% {
        border-bottom: 5px solid #FFBC00;
        color: #006699 !important;
        opacity: 1 !important;
        font-size: 12px !important;
    }
  }




  .dashboardContainer {
    height: calc(100% - 60px);
    background-color: #f4f7fc;
    // overflow-y: hidden;
    // overflow-x: auto;
  }

  .w-20 {
    width: 20%;
  }
  // .searc{
  //   height: 30px;
  //   padding: 3px;
  //   font-size: 11px;
  // }
  * {
    font-family: 'Montserrat', 'Font Awesome\ 5 Free' !important;
  }
  .person{
    // font-size: 12px;
    width: 165px;
    height: 34px;
    // border-left: 2px solid gray;
  }
  .w-90 {
    width: 90%;
  }

  .w-20px {
    width: 20px;
  }

  .w-15px {
    width: 15px;
  }

  .w-25px {
    width: 25px;
  }

  .content-width {
    width: calc(100% - 20px);
  }

  .right-sidebar-height {
    height: calc(100vh - 100px);
  }

  .w-40px {
    width: 40px;
  }

  .w-55px {
    width: 55px;
  }

  .w-60px {
    width: 60px;
  }

  .w-86px {
    width: 86px;
  }

  .w-80px {
    width: 80px;
  }

  .w-100px {
    width: 100px;
  }

  .p-1px {
    padding: 1px;
  }

  .h-5px {
    height: 5px;
  }

  .h-10px {
    height: 10px;
  }

  .h-15px {
    height: 15px;
  }
  .h-17px {
    height: 17px;
  }

  .w-20 {
    width: 20%;
  }

  .h-20px {
    height: 20px;
  }

  .h-25px {
    height: 25px;
  }

  .h-30px {
    height: 30px;
  }

  .w-30px {
    width: 50px;
  }

  .input-border {
    border: none;
    outline: none;
  }

  .radius {
    border-radius: 20px;
    height: 29px;
  }
  .manual{
    margin: 0px 0px -1px 1px;
    width: 216px;
  }
  .fs-8px{
    font-size: 8px;
  }
  .cust{
    width: 80px;
    font-size: 11px;
    padding: 2px;
    height: 22px !important;
  }
  // .one{
  //   margin: 0px 20px !important;
  // }
  .sec{
    margin: 0px -36px !important;
  }
  .item{
    margin: -1px -1px -1px -90px;
  }
  .same{
    margin: 0px -36px;
    word-wrap: break-word;
  }
  .sames{
    margin: 0px -20px;
    margin-left: 19px;
    display: inline-grid;
    height: 0px;
    /* margin-bottom: -6px; */
    margin-top: -43px;
  }
  .fs-9px{
    font-size: 9px;
  }
  .one{
    margin: 0px 20px;
  }
  .dlt{
    margin: 0px 30px;
  }
  .slct{
    margin-left: -3px;
      width: 81px;
      padding-left: 3px;
  }
  .rate{
    font-style: italic;
  }
  #status ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper{
    margin-left: 15px !important;
    padding: 12px 23px;
  }
  ::ng-deep .status{
    margin-left: 12px !important;
  }
  .ngx-datatable .datatable-body .datatable-body-row{
    height: 42px;
  }
  .num{
      width: 195px;
      margin: -24px 149px;
      font-size: 17px;
  }
  .observe{
    height: 28px;
    margin-left: -3px;
  }
  .order{
    width:126px;
    font-size: 3px;
    margin: -2px -1px;
    height: 32px;
    background-color: #E2F5FF !important;
    margin-right: 1px;
  }
  .archive{
    width: 75px;
    font-size: 11px;
    padding: 5px;
  }
  .all-btn-bg-color {
    background-color: #006699;
  }

  .pointer {
    cursor: pointer;
  }

  .btn-bg-color {
    background-color: #ebf0fa;
  }

  .border-color-basic {
    border: 1px solid #006699;
  }

  .open-close-count {
    min-height: 20px;
    min-width: 35px;
    max-width: 35px;
    // padding: inherit !important;
    margin: 0px 0px 1px 8px;
  }
  .rad{
    width: 82px;
    height: 26px;
  }
  .ces{
    word-wrap: break-word;
    width: auto;
  }
  .vid{
    width: 33px;
    height: 22px;
    padding: 8px;
  }
  .fw-600 {
    font-weight: 600 !important;
  }

  .min-w-30px {
    min-width: 30px;
  }

  .min-h-100px {
    min-height: 50px;
  }

  .mode-bg-color {
    background-color: #E2F5FF !important;
  }

  .icon-color {
    color: #cce6ff;
  }

  .parent-container {
    position: relative;
  }

  .position-right {
    z-index: 10;
    position: absolute;
    top: 5px;
    right: 0px;
  }

  .cursorPointer {
    cursor: pointer !important;
  }

  .cursorDisabled {
    cursor: not-allowed;
  }

  .position-left {
    z-index: 10;
    position: absolute;
    top: 5px;
    left: 0px;
  }

  .circle {
    z-index: 10 !important;
  }

  .side-bar-fieldset {
    padding-left: 2px;
    border: 1px solid #CECECE;
    border-radius: 7px;
    opacity: 1;
    margin-bottom: 9px;
    width: 100%;
    min-height: 45px;
  }

  .side-bar-legend {
    font-size: 12px;
    font-weight: bolder;
    float: none;
    width: auto;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 0;
    line-height: inherit;
  }

  .side-bar-input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
  }

  .scroll {
    overflow-x: auto;
    overflow-y: auto;
  }

  .selected-item-border {
    border: 2px solid black;
  }

  .card-height {
    height: calc(100vh - 200px);
  }

  .h-50px {
    height: 50px;
  }

  .cancel-button {
    width: 86px;
    border: 0;
    background-color: none;
    border-radius: 5px;

  }
  ::ng-deep .button .order{
    background-color: yellowgreen !important;
    background: #047FBD;
  }
  .order-button{
    background-color: pink;
  }
  .btn #ordering{
    background-color: brown;
  }
  .button{
    background-color: navy;
  }
  .route-nav #back-button {
    border: none;
    background-color: transparent;
    color: #047FBD;
    width: 30px;

  }

  .position {
    position: fixed;
    top: 60px;
    left: 0;
  }

  .side-bar-height {
    height: calc(100vh - 65px);
  }

  .image-height {
    height: calc(100% - 40px);
  }

  .bar-width {
    width: calc(100% - 25px);
  }

  select {
    border: none;
    outline: none;
    width: 100%;
  }

  .box-shadow {
    // z-index: 99;
    box-shadow: -5px -5px 20px 0px #b3b3b3;
  }
  .opn{
   padding-top: 2px;
  }
  .card-selected {

    // border-radius: 10px !important;
    border-left: 1.5px solid gray !important;
    border-right: 1.5px solid gray !important;
    border-top: 1.5px solid gray !important;
    border-bottom: 1.5px solid gray !important;
    background-color: #FBFBFB;
    // margin-bottom: 2px !important;
  }

  .select-icon-color {
    color: rgb(109, 107, 107);
  }

  // .filter-select{
  //   border: none;
  //   outline: none;
  // }
  // .card-border-radius{
  // border-radius: 10px;
  // }
  .selected-border {
    border-left: 10px solid #006699;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .selecte-item-border {
    border-bottom: 3px solid #006699;
  }

  .fs-12px {
    font-size: 12px;
  }

  .fs-10px {
    font-size: 10px;
  }

  .fs-14px {
    font-size: 14px;
  }

  .fw-800 {
    font-weight: 800 !important;
  }
  .fw-700 {
    font-weight: 700 !important;
  }
  .fw-600 {
    font-weight: 600 !important;
  }

  .border-bottom-blue {
    border-bottom: 1px solid #006699;
  }

  .text-color {
    color: #006699;
  }

  .bg-ash {
    background-color: rgba(242, 242, 242, 0.5);
  }

  .highlightCss {
    width: 25px;
    height: auto;
  }

  .modal-dialog {
    width: 300px !important;
  }

  .modal-header {
    padding: 0px;
  }

  #modalImage {
    position: relative;
    top: 0;
    bottom: 0;
  }

  .img-zoom {
    background: transparent url(/assets/gif/loader.gif) center no-repeat;
    background-size: cover;
  }

  .countCard {
    height: 15px;
    border-radius: 2px;
    line-height: 15.5px;
    background-color: white;
    color: #006699;
  }

  .active {
    background-color: #006699 !important;
    color: white !important;
  }

  .bg-blue {
    background-color: #E2F5FF;
  }

  .w-90px {
    width: 90px;
  }

  .dates-height {
    height: 50px;
    overflow-x: hidden;
  }

  .dates-height:hover {
    height: 50px;
    overflow-x: auto;
  }

  .binaculars-icon {
    width: 30px;
    height: 30px;
  }

  .min-w-20 {
    min-width: 20%;
  }

  .line-height {
    line-height: 10px;
  }

  #canvas {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .border-none {
    border: none;
    outline: none;
  }

  .chip-style {
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
  }

  fieldset {
    border: 1px solid #80bfff;
    border-radius: 5px;
    padding-left: 10px;
  }

  legend {
    float: none;
    width: auto;
    font-size: 10px;
    margin-bottom: 0px;
  }

  .confirmMail {
    z-index: 1;
    position: absolute;
    bottom: 0px;
  }

  .select-icon-position {
    z-index: 10;
    position: absolute;
    top: 40%;
    right: 0px;
  }

  .parent-position {
    position: relative;
  }

  .position {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .overflowCss {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  .statusCss {
    font-size: 12px;
  }

  .scene-container {

    overflow: hidden;
  }

  .typeIconCss {
    font-size: 20px;
    color: white;
  }

  .annotationCss {
    font-size: 16px;
    color: white;
  }

  .overlayCss {
    position: relative;
  }

  .thumbnailImageCss {
    height: 110px;
    width: auto;
    background: transparent url(/assets/gif/loader.gif) center no-repeat;
    background-size: cover;
  }

  .textareaCss {
    padding: 1px 5px;
    font-size: 14px;
    color: #212121;
    height: 80px;
    max-height: 80px;
  }

  .observation-bar {
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    z-index: 10;
    height: 30px;
  }

  .share-bgColor-select {
    background-color: #006699;
    color: white;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .share-bgColor-noselect {
    // background-color: #006699;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .submit-cancel-btn {
    position: absolute;
    bottom: 10px;
  }

  .plus-icon {
    font-size: 44px;
    position: absolute;
    right: 0px;
    bottom: -3px;
  }

  .dates-style {
    height: 25px;
    min-width: 90px;
    border: 1px solid #006699;
    color: #006699;
    border-radius: 20px;
    font-size: 12px;
  }

  .activeDate {
    background-color: #006699;
    color: #fff;
  }

  .bevContainerCss {
    height: calc(100% - 60px);
  }

  .bevCss {
    height: calc(100% - 21px);
  }

  .modal-dialog {
    width: 450px !important;
    font-size: 12px;
    border-radius: 10px !important;
  }

  .modal-footer {
    border: none !important;
  }

  .modal-header {
    border: none !important;
    font-size: 15px;
  }

  .h-30px {
    height: 30px;
  }

  .line-h-12px {
    line-height: 12px;
  }
  .line-h-15px {
    line-height: 15px;
    color: #FF5E28;
  }
  .four{
    margin: -15px 20px -25px 55px;
  }
  .fs-7px {
    font-size: 7px;
  }

  .fs-9px {
    font-size: 9px;
  }

  .fw-500 {
    font-weight: 500;
  }

  .search-width {
    width: calc(100% - 20px);
  }


  #addObservationPop .modal-header {
    border-bottom: 1px solid #BEBEBE !important;
    font-size: 15px;
  }

  .browse-btn {
    background-color: #E2F5FF;
    color: #006699;
  }


  .script {
    display: block;
    position: relative;
    padding-left: 18px;
    cursor: pointer;
    height: 13px;
    font-size: 12px;
  }

  input[type=radio] {
    visibility: hidden;
  }

  .w3docs {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    border: 1px solid #006699;
    border-radius: 8px
  }

  .script input:checked~.w3docs {
    background-color: #006699;
  }

  .w3docs:after {
    content: "";
    position: absolute;
    display: none;
  }

  .script input:checked~.w3docs:after {
    display: block;
  }

  .script .w3docs:after {
    left: 0.5px;
    bottom: 0.4px;
    width: 9.5px;
    height: 9.5px;
    border: 1px solid white;
    border-radius: 6px;
    // border-width: 4px 4px 4px 1px;
    // background-image: url(../../../../../assets/icons/Icon-checkbox.svg);
    z-index: 99;
    // background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    // height: 90%;
    // width: 85%;
    color: white;
  }


  input[type=range] {
    // height: 25px;
    // -webkit-appearance: none;
    // margin: 10px 0;
    width: 100%;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 80%;
    height: 2px;
    cursor: pointer;
    // animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #CECECE;
    border-radius: 1px;
    border: 0px solid #000000;
  }

  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid #2497E3;
    height: 13px;
    width: 13px;
    border-radius: 25px;
    background: #006699;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
  }

  // input[type=range]:focus::-ms-fill-lower {
  //   background: #2497E3;
  // }
  // input[type=range]:focus::-ms-fill-upper {
  //   background: #2497E3;
  // }

  #observationCategoryZone fieldset {
    min-width: 0;
    padding: 3px 10px;
    margin: 0;
    border: 1px solid #CECECE;
    border-radius: 3px;
  }

  #observationCategoryZone legend {
    float: none !important;
    width: auto !important;
    padding-left: 3px;
    margin-bottom: 0rem;
    font-size: 10px;
    /* position: absolute; */
    line-height: 12px;
  }

  .select-defalut {
    color: #00000080;
  }

  #confirmDeleteObservation .modal-dialog {
    width: 300px !important;
    font-size: 12px;
    border-radius: 10px !important;
  }

  #addObservation .modal-dialog,
  #addObservationAnnotate .modal-dialog,
  #addObservationList .modal-dialog {
    width: 400px !important;
    font-size: 12px;
    border-radius: 10px !important;
  }

  .btn-file {
    position: relative;
    overflow: hidden;
  }

  .btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;

  }

  #observation .shadow {
    box-shadow: -2px 1px 8px rgba(0, 0, 0, .15) !important;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: none;
    border-radius: var(--bs-card-border-radius);
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    // background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: none;
    border-radius: 7px;
    outline: 0;
  }

  .blur_background {
    // opacity: 1;
    background: rgba(0, 0, 0, 0.2);
    // filter: opacity(0.3);
    backdrop-filter: blur(0.5px);
  }

  .w-400px {
    width: 400px;
  }

  .h-250px {
    height: 250px;
  }

  .overflow {
    overflow-y: auto;
  }

  #observationCanvas {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .observation-body {
    border: 2px dashed #BEBEBE;
  }

  .back {
    z-index: 99;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  #delete .back {
    z-index: 99;
    position: absolute;
    top: 7px;
  }







  select {
    border: none;
    outline: none;
    width: 100%;
  }

  .box-shadow {
    // z-index: 99;
    box-shadow: -5px -5px 20px 0px #b3b3b3;
  }

  .card-select {
    // box-shadow: 0px 10px rgb(202, 200, 200);
    // border-radius: 10px;
    border-left: 1.5px solid #04608f;
    border-right: 1.5px solid #04608f;
    border-top: 1.5px solid #04608f;
    border-bottom: 1.5px solid #04608f;
    // margin-bottom: 2px;
  }

  .select-icon-color {
    color: rgb(109, 107, 107);
  }

  // .filter-select{
  //   border: none;
  //   outline: none;
  // }
  // .card-border-radius{
  // border-radius: 10px;
  // }
  .selected-border {
    border-left: 10px solid #006699;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .selecte-item-border {
    border-bottom: 3px solid #006699;
  }

  .fs-11px {
    font-size: 11px;
  }

  .fs-10px {
    font-size: 10px;
  }

  .fs-14px {
    font-size: 14px;
  }


  .text-color {
    color: #006699;
  }

  .bg-ash {
    background-color: rgba(242, 242, 242, 0.5);
    font-size: smaller;
    font-weight: 80;
  }
  .fs-11{
    font-size: 11px;
  }
  .fs-12{
    font-size: 12px;
    /* // font-weight: bold; */
  }
  .fs-13{
    font-size: 13px;
  }
  .highlightCss {
    width: 25px;
    height: auto;
  }

  .modal-dialog {
    width: 300px !important;
  }

  .modal-header {
    padding: 0px;
  }

  #modalImage {
    position: relative;
    top: 0;
    bottom: 0;
  }

  .img-zoom {
    background: transparent url(/assets/gif/loader.gif) center no-repeat;
    background-size: cover;
  }

  .countCard {
    height: 15px;
    border-radius: 2px;
    line-height: 15.5px;
    background-color: white;
    color: #006699;
  }

  .active {
    background-color: #006699 !important;
    color: white !important;
  }

  .bg-blue {
    background-color: #E2F5FF;
  }

  .w-90px {
    width: 90px;
  }

  .dates-height {
    height: 50px;
    overflow-x: hidden;
  }

  .dates-height:hover {
    height: 50px;
    overflow-x: auto;
  }

  .binaculars-icon {
    width: 30px;
    height: 30px;
  }

  .min-w-20 {
    min-width: 20%;
  }

  .line-height {
    line-height: 10px;
  }

  #canvas {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .border-none {
    border: none;
    outline: none;
  }

  .chip-style {
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
  }

  fieldset {
    border: 1px solid #80bfff;
    border-radius: 5px;
    padding-left: 10px;
  }

  legend {
    float: none;
    width: auto;
    font-size: 10px;
    margin-bottom: 0px;
  }
  .fs-6{
    font-size: 6px;
  }
  .confirmMail {
    z-index: 1;
    position: absolute;
    bottom: 0px;
  }

  .select-icon-position {
    z-index: 10;
    position: absolute;
    top: 40%;
    right: 0px;
  }

  .parent-position {
    position: relative;
  }

  .position {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }

  .overflowCss {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
  }

  .statusCss {
    font-size: 12px;
  }

  .scene-container {

    overflow: hidden;
  }

  .typeIconCss {
    font-size: 20px;
    color: white;
  }

  .annotationCss {
    font-size: 16px;
    color: white;
  }

  .overlayCss {
    position: relative;
  }

  .thumbnailImageCss {
    height: 110px;
    width: auto;
    background: transparent url(/assets/gif/loader.gif) center no-repeat;
    background-size: cover;
  }

  .textareaCss {
    padding: 1px 5px;
    font-size: 14px;
    color: #212121;
    height: 80px;
    max-height: 80px;
  }

  .observation-bar {
    background-color: rgb(0, 0, 0, 0.3);
    position: absolute;
    z-index: 10;
    height: 30px;
  }
  .shared{
    margin-top: -108px;
  }
  /* // .share-bgColor-select {
  //   background-color: #006699;
  //   color: white;
  //   display: inline-block;
  //   width: 25px;
  //   height: 25px;
  //   border-radius: 5px;
  //   text-align: center;
  //   padding-top: 3px;
  //   padding-bottom: 3px;
  // } */

  .share-bgColor-noselect {
    /* // background-color: #006699; */
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .submit-cancel-btn {
    position: absolute;
    bottom: 10px;
  }

  .plus-icon {
    font-size: 44px;
    position: absolute;
    right: 0px;
    bottom: -3px;
  }

  .dates-style {
    height: 25px;
    min-width: 90px;
    border: 1px solid #006699;
    color: #006699;
    border-radius: 20px;
    font-size: 12px;
  }

  .lh-10px {
    line-height: 10px;
    width: 10px;
  }

  .activeDate {
    background-color: #006699;
    color: #fff;
  }

  .bevContainerCss {
    height: calc(100% - 60px);
  }

  .bevCss {
    height: calc(100% - 21px);
  }

  .modal-dialog {
    width: 450px !important;
    font-size: 12px;
    border-radius: 10px !important;
  }

  .modal-footer {
    border: none !important;
  }

  .modal-header {
    border: none !important;
    font-size: 15px;
  }

  #actionTable ::ng-deep .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
    background-color: #E2F5FF;
    color: #006699 !important;
    font-size: 10px !important;
    font-weight: 600;
    display: flex;
    padding: .9rem .4rem .9rem .7rem !important;
    white-space: break-spaces !important;
    line-height: 12px !important;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
  }

  #actionTable ::ng-deep .ngx-datatable .datatable-header .datatable-header-cell .sort-btn {
    line-height: 100%;
    vertical-align: middle;
    display: none !important;
    cursor: pointer;
  }

  #actionTable ::ng-deep .ngx-datatable.material {
    background: #fff;
    box-shadow: none;
  }

  :host ::ng-deep .open {
    background-color: rgba(255, 230, 230, 0.6);
  }

  :host ::ng-deep .close {
    background-color: rgba(230, 255, 230, 0.6);
  }

  #actionTable ::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: left;
    padding: .9rem .4rem .9rem .7rem !important;
    vertical-align: top;
    display: flex;
    align-items: center;
    border-top: 0;
    color: rgba(0, 0, 0, 0.87);
    transition: width 0.3s ease;
  }

  #actionTable ::ng-deep .ngx-datatable.fixed-header .datatable-header .datatable-header-inner {
    white-space: nowrap;
    height: 100%;
  }
  .end{
    /* // height: 16px;
    // background-color: #FF5E28; */
    border-color: #FF5E28;
  }
  .asign{
    color: white;
  }
  #actionTable ::ng-deep .ngx-datatable.material .empty-row {
    height: 100%;
    text-align: left;
    padding: 0.5rem 1.2rem;
    vertical-align: top;
    border-top: 0;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 14px;
  }

  .dropdown {
    display: inline-block;
    position: relative;
  }

  .dropdown-style {
    position: absolute;
    right: 0px;
    z-index: 10 !important;
    background-color: white !important;
    /* // margin-top: 2px;
    // max-height: 250px;
    // overflow-y: auto; */
  }

  .dropdown-style::-webkit-scrollbar {
    width: 2px;
  }

  .cursor-pointer {
    cursor: pointer !important;
  }

  .options {
    /* // padding: 0px 10px; */
    cursor: pointer;
    white-space: nowrap;
  }

  .selected-dropdown {
    background-color: #D2F0FF;
  }

  .options:hover {
    background-color: #D2F0FF;
  }

  .select-border-bottom {
    border-bottom: 1.5px solid #EEEEEE;
  }

  .text-dark-blue {
    color: #1E3044;
  }

  .fs-13 {
    font-size: 13px;
  }

  .fs-14 {
    font-size: 14px;
  }

  /* // .ff-montserrat{
  // font-family: 'am-Montserrat';
  /* font-weight: 800; */
  /* // } */
  .w-150px {
    width: 150px;
  }
  .min-w-150px {
    width: 150px;
  }

  .fw-bold {
    font-weight: 800 !important;
  }

  .opacity50 {
    opacity: 0.5;
  }

  .border-red {
    border: 1px red solid;
    border-radius: 4px;
  }

  .border-green {
    border: 1px green solid;
    border-radius: 4px;
  }

  .bg-text-red {
    background-color: rgba(255, 230, 230, 0.6);
    font-weight: 800;
    color: red;
  }

  .bg-text-green {
    background-color: rgba(230, 255, 230, 0.6);
    font-weight: 800;
    color: green;
  }

  option:hover {
    background-color: none;
  }

  .bg-basic {
    background-color: #006699;
  }

  input[type=date] {
    width: 75px;
    font-size: 9px;
    border: 1px solid #006699;
    border-radius: 4px;
  }

  input[type=text] {
    width: 75px;
    border: 1px solid #006699;
    border-radius: 4px;
  }

  .border-blue {
    border: 1px solid #006699;
    border-radius: 4px;
  }


  select {
    border: none;
    outline: none;
    padding: 3px 0 3px 0;
    width: 100%;
  }

  // ::ng-deep .k-calendar .k-calendar-cell-inner, .k-calendar .k-link{
  //   padding: 11px !important;
  // }
  ::ng-deep .k-calendar .k-link {
    margin-right: 11px !important;
  }

  .observation-zones {
    position: absolute;
    top: 2px;
    left: 7px;
    font-size: 12px;
    padding: 1px;
  }


.text-open{
  color: #F65150;
}
.border-open{
  border: 1px solid #F65150;
}
.text-close{
  color: #33A437;
}
.border-close{
  border: 1px solid #33A437;
}

.unit-dropdown-search{
  width: 150px;
  min-height: 30px;
  border-radius: 0 !important;
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
  border: 1px solid #ccc !important;
  background-color: #f4f7fc !important;
}

.obsDropdownCss {
  width: 200px;
}
.obsDropdownCss ::ng-deep .ng-select .ng-select-container {
  border-radius: 3px !important;
  // border-top-right-radius: 3px !important;
  // border-bottom-right-radius: 3px !important;
  border: 1px solid #ccc !important;
  background-color: #f4f7fc !important;
}
.obsDropdownCss ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  margin-top: 0px;
  // padding-left: 24px !important;
  width: 100%;
}
.obsDropdownCss ::ng-deep .ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 0px;
  border: none !important;
  font-size: 10px !important;
  border: 1px solid #ccc !important;
  border: none;
  min-height: 30px;
  border-radius: 5px;
  align-items: center !important;
  width: 100%;
}

.obsDropdownCss .ng-select ::ng-deep .ng-arrow-wrapper {
  height: 14px;
  width: 14px;
  background-image: url(/assets/icons/search-icon.png);
  background-repeat: no-repeat;
  background-size: 14px 13px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 0px !important;
}
.obsDropdownCss .ng-select-opened ::ng-deep .ng-arrow-wrapper {
  background-image: url(/assets/icons/search-icon.png);
}

.obsDropdownCss ::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
  pointer-events: none;
  display: none !important;
  height: 0;
  width: 0;
  position: relative;
}
.obsDropdownCss ::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 30px;
}
.obsDropdownCss ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #999;
}

.obsDropdownCss .ng-select ::ng-deep .ng-dropdown-panel {
  max-height: 200px !important;
  overflow-y: hidden;
}

#globalDropdown ::ng-deep .custom-font-size .multiselect-dropdown .dropdown-btn {
  display: flex !important;
  height: 30px !important;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

#globalDropdown ::ng-deep .dropdown-list > ul > li:hover {
  background-color: #E2F5FF;
}

#globalDropdown ::ng-deep .dropdown-list .item1 .multiselect-item-checkbox {
  border: none !important;
  padding: none !important;
}

#globalDropdown ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
  /* width: max-content; */
  /* text-overflow: ellipsis; */
  max-height: 20px;
  /* width: inherit !important; */
}

#globalDropdown ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-down {
  display: none !important;
}

#globalDropdown ::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-up {
  display: none !important;
}

#globalDropdown ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  flex-wrap: nowrap !important;
  overflow: hidden !important;
}


#globalDropdown ::ng-deep .ng-value{
background-color: #fff !important;
}

#globalDropdown ::ng-deep.ng-select .ng-arrow-wrapper {
  cursor: pointer;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  padding-top: 6px;
  z-index: 1;
}

#globalDropdown .ng-select .ng-select-container {
  min-height: 20px !important;
}

#globalDropdown .ng-select.ng-select-single .ng-select-container {
  height: 20px !important;
}
#globalDropdown ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 10px;
  padding-bottom: 5px;
  padding-left: 3px;
}
#globalDropdown ::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  font-size: .9em;
  margin-bottom: 0px !important;
  color: #333;
  background-color: #ebf5ff;
  border-radius: 2px;
  margin-right: 5px;
}

#globalDropdown ::ng-deep .ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 0px;
  border: none !important;
  font-size: 10px !important;
  border: none;
  min-height: 34px;
  border-radius: 5px;
  -webkit-box-align: center;
  align-items: center !important;
  width: 100%;
}

#globalDropdown .ng-select ::ng-deep .ng-arrow-wrapper {
  height: 10px;
  width: 14px;
  background-image: url(/assets/icons/downArrow.png);
  background-repeat: no-repeat;
  background-size: 9px 6px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 5px;
}
#globalDropdown .ng-select-opened ::ng-deep .ng-arrow-wrapper {
  background-image: url(/assets/icons/upArrow.png);
}

#globalDropdown ::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
  pointer-events: none;
  display: none !important;
  height: 0;
  width: 0;
  position: relative;
}

.fs-11{
font-size: 11px;
}
.fs-12{
font-size: 12px;
}

.disableBEV {
  opacity: 0.75 !important;
  pointer-events: none;
}

#button1:hover {
  border: 1px solid #04608f !important;
  border-radius: 3px !important;
  height: 25px !important;
  width: 125px !important;
  padding-top: 4px !important;
  padding-left: 3px !important;
}

#button2:hover {
  border: 1px solid #04608f !important;
  border-radius: 3px !important;
  height: 25px !important;
  width: 80px !important;
  padding-top: 4px !important;
  padding-left: 3px !important;
}

#button3:hover {
  border: 1px solid #04608f !important;
  border-radius: 3px !important;
  height: 25px !important;
  width: 80px !important;
  padding-top: 4px !important;
  padding-left: 18px !important;
}
::ng-deep .unit-dropdown-page .ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 0px;
  border: none !important;
  font-size: 10px !important;
  border: 1px solid #ccc !important;
  border: none;
  min-height: 30px;
  border-radius: 5px;
  -webkit-box-align: center;
  align-items: center !important;
  min-width: 100px;
}

.ng-select ::ng-deep .ng-arrow-wrapper {
  height: 10px;
  width: 14px;
  background-image: url(/assets/icons/downArrow.png);
  background-repeat: no-repeat;
  background-size: 9px 6px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 5px;
}
.ng-select-opened ::ng-deep .ng-arrow-wrapper {
  background-image: url(/assets/icons/upArrow.png);
}

.permitSearch{
  width: 100% !important;
  height: 24px;
  font-size: 10px;
  border: 1px solid #898f93 !important;
  // margin: 2px 4px 2px 5px !important;
}

.lh-3{
  line-height:3;
  
}

.ls{
  letter-spacing: 0.5px;
}

.w-150px{
  width: 150px;
}
.permit-dropDown-div{
  width: 170px;
  margin-left: 15px;
}

.units-dropDown-div{
  width: 170px;
  margin-left: 25px;
}

.toggleView{
  cursor: pointer;
}

.one-liner {
  width:170px;
  // margin-right: 8px;
  display: inline-block;
  /* important */
  white-space: nowrap;
  overflow: hidden;

  &:not(:hover) {
    text-overflow: ellipsis;
  }

  /* animate on either hover or focus */
  &:hover,
  &:focus {
    span {
      display: inline-block;
      z-index: 0;
      animation-name: scroll-text;
      animation-duration: 7s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      /* FYI this would be the shorthand:
        animation: scroll-text 5s ease 0s 2 normal;
      */
    }
  }

  /* define the animation */
  @keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }

    90% {
      transform: translateX(-100%);
    }

    95% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

.z-index-1{
  z-index:1;
}
