<div class="container d-flex">
    <div class="container-panel m-auto">
        <img class="detectLogo pt-2 ps-3" src="{{detectLogo}}" alt="Detect Logo">
        <div class="productDefinition d-flex mx-auto my-4">
            <img class="productLogo" src="{{productLogoUrl}}" alt="Product Logo">
            <div class="d-block ps-2">
                <p class="mb-0 fs-18"><b>{{productName}}</b></p>
                <p class="productSubName mb-0 fs-14"><small>{{productSubName}}</small></p>
            </div>
        </div>
        <p class="text-center">Version: {{softwareVersion}}</p>
        <div class="copyrightCss mx-3">
            <p class="mb-0">©{{currentYear}} <b>Detect Technologies</b>. All Rights Reserved.</p>
            <p>Site best viewed in Chrome 74.0+, Firefox 67.0+, Microsoft Edge 85.0+</p>
        </div>
    </div>
</div>
