  <div class="dropdown days-dropdown">
  <div class="select-border-bottom text-dark-blue fs-12 ff-montserrat  d-flex justify-content-between align-items-center  cursor-pointer"
    (click)="dropdownShow();preventCloseOnClick()">
    <div class="" [title]="dropdownSelect">{{dropdownSelect}}</div>
    <div><img src="/assets/icons/downArrow.png" alt="" width="10px"></div>
  </div>
  <div class="dropdown-style shadow rounded w-100 py-2" [style.width]="'250px'" *ngIf="sCurveDropdown && disableDropdown">
    <div style="font-weight: 600 !important;" class="options text-dark-blue fs-11 ff-montserrat" *ngFor="let selectItem of dropdownList"
      [ngClass]="selectItem == dropdownSelect ? 'selected-dropdown':''"
      (click)="unitNameSelect(selectItem, true);preventCloseOnClick()">
      {{selectItem}}</div>
  </div>
</div>
