.charts{
    border-radius: 5% !important;
    height: 100% !important;
    /* width: 100% !important; */
    /* max-width: 580px !important; */
  }
  
.fs-12{
  font-size: 12px
}

.barChart, .barChart div, .barChart div canvas {
  height:85% !important;
  width: 100% !important;
}

@media (max-width: 767px) {
  .barChart, .barChart div, .barChart div canvas {
      height: 70% !important;
  }
}
