*{
  font-family: "Montserrat";
}
.w-70px{
  width: 70px;
}
.w-25px{
  min-width: 25px;
}
.h-25px{
  height: 25px;
}
.fs-10px{
  font-size: 10px;
}
.fs-12px{
  font-size: 12px;
}
.selected-item{
  background-color: #006699 !important;
  color: white !important ;
}
ul{
  margin-bottom: 0px;
}
.notselected{
  background-color: white !important;
  color: #006699 !important;
}
.page-numbers{
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none !important;
  align-items: center;
  display: flex;
  justify-content: center;
}
li:focus{
  outline: none;
  /* margin-left: 5px; */
}
a:active, a:focus {
  outline : none;
  -moz-outline-style: none;
}
.page-link {
  position: relative;
  margin-left: -1px;
  line-height: 1.25;
  background-color: #fff;
  border: none !important;
}

.navigationDisabledCss {
  /* background-color: #bfbfbf !important; */
  cursor: not-allowed !important;
}
.prev, .next{
  font-weight: 800;
  font-size: 10px !important;
}
.previous{
  font-size: 10px !important;
}
.nextt{
  font-size: 10px !important;
}
.pointer{
  cursor: pointer;
}
