.border-none-outline-none {
  border: none;
  outline: none;
}

.over-view-page-height {
  height: calc(100vh - 102px);
  background-color: #f4f7fc !important;
  overflow-x: hidden;
  overflow-y: auto;
}

#table ::ng-deep.ngx-datatable.material .datatable-body {
  position: relative;
  height: calc(100vh - 215px) !important;
  overflow-y: hidden;
  overflow-x: hidden;
}

#table ::ng-deep.ngx-datatable.material .datatable-body-row {
  border-bottom: 1px solid #ebebe0 !important;
}

#table ::ng-deep .ngx-datatable.fixed-header .datatable-header {
  border-bottom: 0px solid #ebebe0 !important;
}

.side-bar-height {
  height: calc(100vh - 60px) !important;
}

.position {
  position: fixed;
  top: 60px;
  left: 0;
}

.w-35 {
  width: 35% !important;
}
.w-120px{
  min-width: 120px;
  width: 120px;
}
.typeCss {
  width: 200px;
}

.side-bar-fieldset {
  padding-left: 2px;
  border: 1px solid #CECECE;
  border-radius: 5px;
  opacity: 1;
  /* padding-top: 2px; */
  padding-bottom: 4px;
  margin-bottom: 9px;
  width: 100%;
  min-height: 45px;
}

.side-bar-legend {
  font-size: 12px;
  font-weight: bolder;
  float: none;
  width: auto;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 0;
  line-height: inherit;
}


input[type="date"]::before {
  content: attr(placeholder);
  width: 100%;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

.w-160px{
  width: 160px;
}
