.task {
  font-size: 12px;
  color: #1e3044af;
  width: 100%;
  padding: 10px;
}

.over-view-page-height {
  height: calc(100vh - 105px);
  background-color: #f4f7fc !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.popups {
  position: absolute;
  top: 0px;
  z-index: 999 !important;
  z-index: 999;
  display: flex;
  flex-direction: column;
  width: 250px;
}

.adjacentTasks {
  padding: 0 10px;
}

.adjacentTasks>div {
  border-bottom: 1px solid #c6c6c6ce;
  padding: 10px 0;
}




.side-bar-fieldset {
  padding-left: 2px;
  border: 1px solid #CECECE;
  border-radius: 5px;
  opacity: 1;
  /* padding-top: 2px; */
  padding-bottom: 4px;
  margin-bottom: 9px;
  width: 100%;
  min-height: 45px;
}


.side-bar-legend {
  font-size: 12px;
  font-weight: bolder;
  float: none;
  width: auto;
  padding: 0;
  margin-left: 10px;
  margin-bottom: 0;
  line-height: inherit;
}

.category {
  font-size: 12px;
  width: 100%;
  overflow-y: auto;
  // border-bottom: 1px solid #1e304431;
  padding: 10px 0;
  // border-right: 1px solid #1e304431;
  // border-top: 1px solid #1e304431;
}

.border-radius {
  border-radius: 4px !important;
}

.border-danger .border-right {
  border-right: 1px solid rgb(223, 222, 222) !important;
  height: calc(100vh - 195px);
}

.category:last-child {
  border-bottom: none;
}

.task-active {
  background-color: #006699;
  color: white;
}





/* REmove */

.bg-black {
  background-color: #1E3044;
}

.text-black {
  color: #1E3044;
}

.text-grey {
  color: #313A46;
}

.bg-none {
  background-color: transparent;
}

.bg-secondry {
  background-color: #B0B0B0;
}

.text-secondry {
  color: #B0B0B0;
}

.bg-red {
  color: #F65150;
}

.bg-successGain {
  background-color: #33A437;
}

.text-successGain {
  color: #33A437;
}

.h-10px {
  height: 10px;
}

.h-20px {
  height: 20px;
}

.h-30px {
  height: 30px;
}

.h-38px {
  height: 38px;
}

.h-15px {
  height: 15px;
}

.w-10px {
  width: 10px;
}

.w-25px {
  width: 25px;
}

.w-75px {
  width: 75px;
}


option:hover {
  background-color: blue !important;
}

.font-weight-bold {
  font-weight: bold;
}

.fw-extrabold {
  font-weight: 800;
}

.fw-bold {
  font-weight: 700;
}

.fw-semibold {
  font-weight: 600;
}

.fw-medium {
  font-weight: 500;
}

.font-style-italic {
  font-style: italic;
}


.fs-8 {
  font-size: 8px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-11 {
  font-size: 11px;
}

/* .fs-16{
    font-size: 12px;
  } */
.fs-13 {
  font-size: 13px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px;
}

.fs-21 {
  font-size: 21px;
}

.fs-24px {
  font-size: 24px;
}


.text-dark-blue {
  color: #1E3044;
}

.text-secondary {
  color: #6D7885;
}

.text-blue {
  color: #006699;
}

.text-red {
  color: #F65150;
}

.text-green {
  color: #33A437;
}

.text-yellow {
  color: #FFBC00;
}



.bg-blue {
  background-color: #006699;
}

.bg-light-blue {
  background-color: #E2F5FF;
}

.border-danger {
  border: 1px solid #F65150;
}

.border-green {
  border: 1px solid #33A437;
}

.cp-border {
  border-left: 3px solid #F65150;
}

.btn-border {
  border: 1px solid #006699 !important;
}

.border-radius-2 {
  border-radius: 2px;
}

.min-width {
  min-width: 100px;
}

.dropdown {
  display: inline-block;
}

.dropdown-style {
  position: absolute;
  right: 0px;
  z-index: 10 !important;
  background-color: white !important;
  margin-top: 2px;
  max-height: 250px;
  overflow-y: auto;
}

.dropdown-style::-webkit-scrollbar {
  width: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.options {
  padding: 0px 10px;
  cursor: pointer;
  white-space: nowrap;
}

.selected-dropdown {
  background-color: #D2F0FF;
}

.options:hover {
  background-color: #D2F0FF;
}


.overflow {
  overflow: hidden;
}

.overflow:hover {
  overflow: auto;
}

.text-basic {
  color: #006699;
}

.bg-basic {
  background-color: #006699;
}

.bg-yellow {
  background-color: #FFBC00;
}

.bg-secondary {
  background-color: #6D7885;
}

.bg-red {
  background-color: #F65150;
}

.text-safe {
  color: #33a437;
}

.bg-safe {
  background-color: rgb(51, 164, 55, 0.3);

}

.bg-warn {
  background-color: #F65150
}

.bg-secondar {
  background-color: rgb(108, 117, 125, 0.3);

}

.position-relative {
  position: relative;
  z-index: -0.5;
}

.position {
  position: absolute;
  right: -30px;
  top: 15px;
  z-index: 9999;
}

.arrowIcon {
  position: absolute;
  left: 29px;
  top: -5px;
  z-index: 9999;
}

.border-buttom {
  border-bottom: 2px solid #f4f7fc;
}

.equipment-circle:hover+.equipment {
  display: block;
}

.popup {
  min-height: 110px;
  max-height: 150px;
  min-width: 100px;
  background-color: rgba(246, 243, 243, 0.1);
  /* margin-left: 10px; */
  overflow-y: auto;

}

.text-gray {
  color: white;
}

.popup::-webkit-scrollbar {
  width: 4px;
}

.popup-table {
  width: 180px;
  display: none;
  z-index: 999 !important;
  overflow: hidden;
}

.popup-table:hover {
  width: 180px;
  display: block;
  /* background-color: none; */
  z-index: 999 !important;
  overflow: auto;
}

.righsaid-card {
  margin-bottom: 2px;
}

.border-warn {
  border: 1px solid #f76665;
}

.border-safe {
  border: 1px solid #33a437;
}

.planned-pending-data-table {
  height: calc(100vh - 160px);
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

select {
  border: none;
  outline: none;
}

.font-size-14px {
  font-size: 14px;
}

.font-size-12px {
  font-size: 12px;
}

.font-size-10px {
  font-size: 10px;
}

.z-index {
  z-index: -0.5 !important;
}

.page-height {
  height: calc(100vh - 195px);
  overflow-x: hidden;
  overflow-y: auto;
}

.bg-color {
  background-color: #f4f7fc !important;
}

/* .height::-webkit-scrollbar{
    width: 4px;
  } */
.progress-height {
  height: calc(100vh - 150px);
  overflow-y: hidden;
  z-index: -0.5;
}

.progress-text {
  position: absolute;
  margin-left: 35px;
  margin-top: 5px;

}

.ngx-datatable.material {
  // background: #fff;
  box-shadow: none !important;
}

.progress-height:hover {
  overflow-y: auto;
  z-index: -1.5;
}

.progress-height::-webkit-scrollbar {
  width: 4px;
}

.flexWrap {
  flex-wrap: wrap-reverse !important;
}

.h-27px {
  height: 25px;
}

.h-30px {
  height: 30px;
}

.h-12px {
  height: 12px;
}

.h-40px {
  height: 40px;
}

.w-4px {
  width: 4px;
}

.w-21px {
  width: 12px;
}
.fw-600{
  font-weight: 600;
}

.margin {
  margin-left: 4px;
  margin-top: 0.5px;
  margin-bottom: 0.5px;
}

.card-body {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 10px;
}

.float-right {
  float: right !important;
}

// .dataTableHeight {
//   min-height: calc(100vh - 155px);
//   max-height: calc(100vh - 155px);

// }

.bg-gray {
  background-color: rgba(246, 243, 243, 0.1);
}

.ngx-datatable.material {
  background: none;
  box-shadow: none;
}

.taskName {
  display: inline-block;
}

#ngx-datatable ::ng-deep.ngx-datatable.material .datatable-header {
  border-bottom: 0px solid rgba(0, 0, 0, 0.12) !important;
}

#ngx-datatable ::ng-deep .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  color: #006699 !important;
  font-size: 11px !important;
  line-height: normal;
  font-weight: 600;
  border: none;
  padding-left: 5px !important;
  // background-color: #E2F5FF;
  height: 100%;
  white-space: break-spaces !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  border-bottom: 0px;
  align-items: left;
}

#ngx-datatable ::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {

  vertical-align: top;
  line-height: normal;
  border-top: 0;

  padding: 0px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 10px;
  font-weight: 400;
  white-space: break-spaces !important;
  display: flex;
  align-items: center;
}

#ngx-datatable ::ng-deep .icon {
  font-size: 15px !important;
  padding: 0px;
  text-align: center;
}

#ngx-datatable ::ng-deep .datatable-tree-button {
  padding: 0 !important;
  border: 0px solid !important;
  border-radius: 5px !important;
  margin-right: 2px !important;
  margin-left: 2px !important;
  display: inline-block;
}


#ngx-datatable ::ng-deep .ngx-datatable.material .datatable-body {
  position: relative;
  height: calc(100vh - 295px) !important;
  overflow-X: hidden;
  overflow-y: auto;
}

#ngx-datatable ::ng-deep .ngx-datatable-cell-template {
  width: 100%;
}

#ngx-datatable ::ng-deep .ngx-datatable .datatable-footer {
  height: 49px;
  overflow: hidden;
}
#ngx-datatable ::ng-deep .ngx-datatable.material .datatable-footer .page-count {
  flex: none !important;
  width: 200px !important;
}

// #ngx-datatable ::ng-deep .ngx-datatable.material .datatable-body:hover {
//   position: relative;
//   height: calc(100vh - 235px) !important;
//   overflow-y: auto;
// }

#ngx-datatable ::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell .functionTask {
  padding: 25px 5px;
  border-right: 1px solid #E2E3E5 !important;
}

#ngx-datatable ::ng-deep .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell .borderBottom {
  border-bottom: 0.5px solid #E2E3E5;
}

/* Custom styles for the checkboxes in the custom checkbox column */
.custom-checkbox-column .datatable-checkbox {
  background-color: #f5bd00;
  /* Change the background color of the checkboxes */
  border-color: #f5bd00;
  /* Change the border color of the checkboxes */
}

/* Custom styles for the tick (when checkbox is checked) */
.custom-checkbox-column .datatable-checkbox.checked .datatable-checkbox-inner::before {
  content: '\2713';
  /* Unicode checkmark character */
  color: #f5bd00;
  /* Change the color of the tick */
  font-size: 16px;
  /* Adjust the size of the tick */
}



/* @media only screen and (min-width: 600px) {
    .position{
      position: absolute;
      left: -12px;
      right: 0px;
      top: -30px;
    }
  } */







#ngx-datatable ::ng-deep .datatable-body-cell-label {
  width: 100% !important;
}


::ng-deep .mediumModal .modal-dialog {
  max-width: 50%;
  width: 50%;
}

::ng-deep .smallModal .modal-dialog {
  max-width: 30%;
  width: 30%;
}

::ng-deep .largeModal .modal-dialog {
  max-width: 70%;
  width: 70%;
}

::ng-deep .largeModal .modal-body {
  height: 450px;
  overflow: scroll;
}

::ng-deep .modalClass .modal-dialog {
  max-width: 70%;
  width: 70%;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

#history::ng-deep.modal-body,
#pdfpopup::ng-deep.modal-body {
  height: calc(100vh - 120px);
  overflow-y: auto;
}

.w-15 {
  width: 17%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 25%;
}

.w-55 {
  width: 58%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}


.button-margin {
  margin-top: 24px;
}


@media screen and (min-width: 1600px) {
  .button-margin {
    margin-top: -4px;
  }


}
