.homeContainer{
  height: calc(100vh - 55px);
  overflow-x: hidden;
  background-color: rgb(233, 233, 233);
}
select{
    border:none;
    outline:none;
    padding: 0px 4px 2px 1px;
    }
    .input{
        border:none;
        outline:none;
        margin: -5px;
        }
        .side-bar-fieldset {
            padding-left: 2px;
            border: 1px solid #CECECE ;
            border-radius: 7px;
            opacity: 1;
            margin-bottom: 9px;
            margin-left:20%;
            width:35%;
            min-height: 45px;

          }
          .side-bar-legend {
            font-size: 12px;
            font-weight: bolder;
            float: none;
            width: auto;
          padding: 0;
          margin-left: 10px;
          margin-bottom: 0;
          line-height: inherit;
          }

    .row {
         padding-right:0px !important;
         padding-left: 0px !important;
         --bs-gutter-x: 0.0rem !important;
    }


    .font-size{
        font-size:10px;
    }
    .header-height{
        height: 45px;
    }
    .radius{
      border-radius: 5px;
    }
    .viewHeight{
      height: calc(100% - 45px);
    }
    .width{
        width:32%;
    }

    .center-items {
        display: flex !important;
    }

    .list-view-align {
        margin-left: -5px;
        margin-right: 7px;
    }

    .dropdown-toggle {
        width: 100px;
    }
    .form-check-input1 {
      // width: 1em;
      height: 1em;
      margin-top: .25em;
      vertical-align: top;
      background-color: #fff;
      background-repeat: no-repeat;
      // background-position: center;
      background-size: contain;
      border: 1.5px solid rgb(24 18 18);
      // -webkit-appearance: none;
      appearance: none;
      -webkit-print-color-adjust: exact;
      // color-adjust: exact;
  }

  .form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.m-10{
  margin: 10px !important;
}
.locationBox{
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  height: 26px;
  padding: 0px 4px 6px 5px;
}

.fs-12{
  font-size: 12px;
}

#flexSwitchCheckDefault{
  accent-color: #006699 !important;
}

.form-check-input:checked {
  background-color: #006699 !important;
  border-color: #006699 !important;
}

.toggleView{
  cursor: pointer;
}

.width-calender-search {
  width: calc(100% - 135px);
}
.text-basic{
  color: #006699;
}

.w-200px{
  width: 200px;
}
.w-90{
  width: 90%;
}


::ng-deep .custom-font-size .multiselect-dropdown .dropdown-btn {
  display: flex !important;
  height: 30px !important;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
}

::ng-deep .dropdown-list > ul > li:hover {
  background-color: #E2F5FF;
}

::ng-deep .dropdown-list .item1 .multiselect-item-checkbox {
  border: none !important;
  padding: none !important;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
  /* width: max-content; */
  /* text-overflow: ellipsis; */
  max-height: 20px;
  /* width: inherit !important; */
}

::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-down {
  display: none !important;
}

::ng-deep .multiselect-dropdown .dropdown-btn .dropdown-up {
  display: none !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-top: 0px;
  flex-wrap: nowrap !important;
  overflow: hidden !important;
}

:ng-deep .ng-select .ng-select-container .ng-value-container {
  padding-left: 45px !important;
}

::ng-deep .ng-value{
background-color: #fff !important;
}

::ng-deep.ng-select .ng-arrow-wrapper {
  cursor: pointer;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  padding-top: 6px;
  z-index: 1;
}

.ng-select .ng-select-container {
  min-height: 20px !important;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 20px !important;
}

::ng-deep .unit-dropdown-page .ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 0px;
  border: none !important;
  font-size: 10px !important;
  border: 1px solid #ccc !important;
  border: none;
  min-height: 27px;
  width: 180px;
  border-radius: 5px;
  -webkit-box-align: center;
  align-items: center !important;
  min-width: 100px;
}

::ng-deep .dropdown-page .ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 0px;
  border: none !important;
  font-size: 10px !important;
  border: 1px solid #ccc !important;
  border: none;
  min-height: 27px;
  width: 200px;
  border-radius: 5px;
  -webkit-box-align: center;
  align-items: center !important;
  min-width: 100px;
}


.ng-select ::ng-deep .ng-arrow-wrapper {
  height: 10px;
  width: 14px;
  background-image: url(/assets/icons/downArrow.png);
  background-repeat: no-repeat;
  background-size: 9px 6px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 5px;
}
.ng-select-opened ::ng-deep .ng-arrow-wrapper {
  background-image: url(/assets/icons/upArrow.png);
}

::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
  pointer-events: none;
  display: none !important;
  height: 0;
  width: 0;
  position: relative;
}
::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  font-size: .9em;
  margin-bottom: 0px !important;
  color: #333;
  background-color: #ebf5ff;
  border-radius: 2px;
  margin-right: 5px;
}
::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  font-size: 12px;
  margin-bottom: 0px !important;
  color: #333;
  background-color: #ebf5ff;
  border-radius: 2px;
  margin-right: 5px;
}

::ng-deep .dropdown-page .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
}

.fs-11{
font-size: 11px;
}
.fs-12{
font-size: 12px;
}
::ng-deep .dropdown-page .ng-select .ng-clear-wrapper {
  cursor: pointer;
  position: relative;
  width: 17px;
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container{
  box-shadow: none !important;
}



//global search css

.obsDropdownCss {
  margin-left: auto;
  width: 200px;
}
.obsDropdownCss ::ng-deep .ng-select .ng-select-container {
  border-radius: 3px !important;
  border: 1px solid #ccc !important;
  background-color: #f4f7fc !important;
}
.obsDropdownCss ::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  margin-top: 0px;
  width: 100%;
}
.obsDropdownCss ::ng-deep .ng-select .ng-select-container {
  color: #333;
  background-color: #fff;
  border-radius: 0px;
  border: none !important;
  font-size: 10px !important;
  border: 1px solid #ccc !important;
  border: none;
  min-height: 30px;
  border-radius: 5px;
  align-items: center !important;
  width: 100%;
}

.obsDropdownCss .ng-select ::ng-deep .ng-arrow-wrapper {
  height: 14px;
  width: 14px;
  background-image: url(/assets/icons/search-icon.png);
  background-repeat: no-repeat;
  background-size: 14px 13px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 0px !important;
}
.obsDropdownCss .ng-select-opened ::ng-deep .ng-arrow-wrapper {
  background-image: url(/assets/icons/search-icon.png);
}

.obsDropdownCss ::ng-deep .ng-select .ng-arrow-wrapper .ng-arrow {
  pointer-events: none;
  display: none !important;
  height: 0;
  width: 0;
  position: relative;
}
.obsDropdownCss ::ng-deep .ng-select.ng-select-single .ng-select-container {
  height: 30px;
}

.one-liner {
  font-size: 12px;
  width:90%;
  margin-right: 8px;
  display: inline-block;
  z-index: 0;
  /* important */
  white-space: nowrap;
  overflow: hidden;

  &:not(:hover) {
    text-overflow: ellipsis;
  }

  /* animate on either hover or focus */
  &:hover,
  &:focus {
    span {
      display: inline-block;
      animation-name: scroll-text;
      animation-duration:10s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      /* FYI this would be the shorthand:
        animation: scroll-text 5s ease 0s 2 normal;
      */
    }
  }

  /* define the animation */
  @keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }

    90% {
      transform: translateX(-100%);
    }

    95% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(0%);
    }
  }
}

.z-index-1{
  z-index:1;
}