<div class="credentialCss m-auto">
  <h2 class="fw-bolder mb-5">Create New Password</h2>
  <p class="fw-bolder" style="margin-top: 10px;">New Password</p>
  <div class="input-group">
    <input [type]="showPassword ? 'text' : 'password'" class="form-control form-control-lg" placeholder="Enter password"
      [(ngModel)]="newPassword" (keyup)="newPasswordValidators()">
    <button class="btn border" type="button" (click)="showHidePassword()">
      <i [ngClass]="showPassword ? 'fa fa-eye'  : 'fa fa-eye-slash'"></i>
    </button>
  </div>
  <div class="text-danger" *ngIf="errormsg">{{errormsg}}<sup>*</sup></div>
  <p class="fw-bolder" style="margin-top: 10px;">Confirm New Password</p>
  <div class="input-group">
    <input [type]="showConfirmPassword ? 'text' : 'password'" class="form-control form-control-lg"
      [(ngModel)]="confirmNewPassword" placeholder="Enter password" (keyup)="confrimPasswordValidators()">
    <button class="btn border" type="button" (click)="showHideConfirmPassword()">
      <i [ngClass]="showConfirmPassword ? 'fa fa-eye'  : 'fa fa-eye-slash'"></i>
    </button>
  </div>
  <div class="text-danger" *ngIf="confrimPasswordErrorMsg">{{confrimPasswordErrorMsg}}<sup>*</sup></div>
  <button [disabled]="checkConfrimPassword == false || checkPassword == false" class="btn btn-basic btn-lg fullWidth mt-4 submit-button" type="button"
    (click)="submitForceChangePassword()">SUBMIT</button>
</div>