.menus {
  font-size: 12px;
  font-family: "Montserrat" !important;
  font-weight: 600 !important;
}

.border-under-selected-page {
  border-bottom: 5px #fcbb02 solid;
}
.bg-color{
  background-color: #f4f7fc !important;
}
.opacity {
  opacity: 0.5;
}
