.input-border {
  border: none;
  outline: none;
}

.pointer {
  cursor: pointer;
}

.nopointer{
  cursor: default;
}

.bg-red {
  background-color: #ffe6e6;
}

.bg-green {
  background-color: #e6ffe6;
}

.bg-white {
  background-color: white;
}

.mapview-color{
  color: #1E3044;
}

.observation-btn {
  position: relative;
}

.select-icon-color {
  color: #ebf0fa;
}

.unitWise-btn {
  display: inline-block;
  min-width: 50px;
}

.select-icon-position {
  position: absolute;
  top: -20px;
  left: 30%;
}

.open-close-count {
  height: 20px;
  min-width: 39px;
  max-width: 30px;
  padding: 2px;
  font-size: 12px;
}

.fs-10 {
  font-size: 10px;
}

.fs-11 {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}

.fs-14 {
  font-size: 14px;
}

.w-110px {
  width: 110px;
}

.text-total {
  color: #047FBD;
}

.open-close-count-width {
  width: 30px;
}

.h-5px {
  height: 5px;
}

.h-20px{
  height: 20px;
}
.btn-bg-color {
  background-color: #ebf0fa;
}

// .card-overFlow {
//   height: calc(100vh - 216px);
// }

.bargraph1{
  height: 50px;
  padding-right: 10px;
  margin-left: 4px;
  // height: calc(100vh - 516px);
  // width: calc(100% + 200px);
}

// .graph1{
//   height: calc(100vh - 416px);
//   height: 200px;
// }

// .graph2{
//   height: calc(100vh - 416px);
// }

.form-check-input:checked {
  background-color: #1E3044;
  border-color: #1E3044;
}


.observation-text-size {
  font-size: 14px;
}

.radius {
  border-radius: 5px;
}

.btn-radius{
  border-radius: 5px;
}

.all-btn-bg-color {
  background-color: #006699;
}

button:disabled,
button[disabled]{
  border:0px;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-40px {
  width: 40px;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-80 {
  height: 80%;
}

.h-20px {
  height: 20px;
}

.h-10px {
  height: 10px;
}

.w-30px {
  width: 30px;
}

.h-30px {
  height: 30px;
}

.h-30vh {
  height: 40vh;
}

.hit{
  height: 50px;
}

.h-40 {
  height: 40%;
}

.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}

.chartOption {
  height: calc(100% - 10px);
}

.font-size-12px {
  font-size: 12px;
}

.pdtop{
  padding-top: 2px;
}

.pad-1{
  padding-top: 1px;
}

.noEvent{
  pointer-events: none;
  opacity: 0.75;
}

select {
  border: none;
  outline: none;
  width: 130px;
}

.openCountBgColor {
  background-color: #F65554;
}

.closeCountBgColor {
  background-color: #33A437;
}

.imageColor {
  filter: invert(46%) sepia(75%) saturate(456%) hue-rotate(73deg) brightness(97%) contrast(91%);
}

.border-green {
  border-left: 5px solid #33A437 !important;
}

.text-color-green {
  color: #33A437 !important;
}

.text-color-yellow {
  color: #ffdd26 !important;
}

.padding-end {
  padding-left: 50px !important;
}

.open-red{
  color: #F65251;
}

.close-green{
  color: #44AB48;
}

.one-liner {
  font-size: 12px;
  font-weight: 700;
  // width: 50%;
  margin-right: 8px !important;
  display: inline-block !important;
  white-space: nowrap;
  overflow: hidden;

  &:not(:hover) {
    text-overflow: ellipsis;
  }

  /* animate on either hover or focus */
  &:hover,
  &:focus {
    span {
      display: inline-block;
      animation-name: scroll-text;
      animation-duration: 7s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      /* FYI this would be the shorthand:
        animation: scroll-text 5s ease 0s 2 normal;
      */
    }
  }

  /* define the animation */
  @keyframes scroll-text {
    0% {
      transform: translateX(0%);
    }
    90% {
      transform: translateX(-100%);
    }
    95% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

