<div class="d-flex justify-content-between audit-header">
    <div class="navDiv">
      <div class="ms-2" style="width: 170px;">
        <app-multi-select [type]="'Unit'" [allItems]="unitList" (itemSelected)="unitSelected($event)"></app-multi-select>
      </div> 
      <div class="ms-2" style="width: 170px;">
        <app-multi-select [type]="'Vendor'" [allItems]="vendorList" (itemSelected)="vendorSelected($event)"></app-multi-select>
      </div>
      <div class="ms-2" style="width: 170px;">
        <app-multi-select [type]="'Activitie'" [allItems]="activityList" (itemSelected)="activitySelected($event)"></app-multi-select>
      </div>
      <div *ngIf="selectedKey === 'upcoming_audits'" class="rangeDropDown ms-2" style="width: 170px;">
        <app-days-dropdown [dropdownList]="intervalDropdownList" [selectedInterval]="selectedInterval" (selectedDropdown)="intervalSelected($event)"></app-days-dropdown>
      </div>
    </div>
    
    <div class="navDiv">
      <div>
        <button class="btn btn-sm  bg-blue me-2"  (click)="routeAudit('/safety-and-surveillance/configure-checklist')"
        [disabled]="!configureAccess">
          CONFIGURE CHECKLIST
        </button>
        <!-- <button class="btn btn-sm  bg-surprise ms-2"  (click)="routeAudit('/safety-and-surveillance/start-audit')"
        [disabled]="!surpriseAccess">
          SURPRISE AUDIT
        </button> -->
      </div>
    </div>
    
    <div  class="d-flex align-items-center  fs-11px fw-600 pe-3">
     <div class="obsDropdownCss">
      <ng-select #obsSearch [items]="observationList.length > 0 ? observationList : []"  bindLabel="name"
        [(ngModel)]="selectedObservation" [virtualScroll]="true" (open)="OnOpen()" (search)="OnSearch($event)" (blur)="OnBlue()"
        dropdownPosition="hidden"
        (change)="navigateFromSearch()"
        placeholder="Global Search..." [clearable]="false">
        <ng-template ng-option-tmp let-item="item">
          <p class="mb-1 fs-10">{{item.name}}</p>
        </ng-template>
      </ng-select>
     </div>
    </div>
    </div>
    