<div class="credentialCss m-auto">
  <h2 class="fw-bolder mb-5">Change password</h2>
  <form [formGroup]="passwordForm" class="credentialCss m-auto">
    <p class="fw-bolder">Current password</p>
    <input
      id="currentPassword"
      formControlName="currPass"
      type="password"
      class="form-control form-control-lg"
      placeholder="Enter current password"
      [(ngModel)]="currentPassword"
    />
    <div
      class="errors"
      *ngIf="
        passwordForm.get('currPass').invalid &&
        (passwordForm.get('currPass').touched ||
          passwordForm.get('currPass').dirty)
      "
    >
      <div *ngIf="passwordForm.get('currPass').hasError('required')">
        * This field is required
      </div>
    </div>

    <p class="fw-bolder" style="margin-top: 1.5rem !important">New password</p>
    <input
      id="newPassword"
      formControlName="newPass"
      [type]="showPassword ? 'text' : 'password'"
      class="form-control form-control-lg"
      placeholder="Enter new password"
      [(ngModel)]="newPassword"
    />
    <div
      class="errors"
      *ngIf="
        passwordForm.get('newPass').invalid &&
        (passwordForm.get('newPass').touched ||
          passwordForm.get('newPass').dirty)
      "
    >
      <div *ngIf="passwordForm.get('newPass').hasError('required')">
        * Password is required
      </div>

      <div *ngIf="passwordForm.get('newPass').errors.minlength">
        * Password must be at least 8 characters
      </div>

      <div
        class="error-text"
        *ngIf="passwordForm.get('newPass').hasError('passwordStrength')"
        [innerText]="passwordForm.get('newPass').errors['passwordStrength']"
      ></div>
    </div>

    <p class="fw-bolder mt-4">Confirm new password</p>
    <input
      id="confirmNewPassword"
      formControlName="checkNewPassword"
      [type]="showPassword ? 'text' : 'password'"
      class="form-control form-control-lg"
      placeholder="Enter new password again"
      [(ngModel)]="confirmNewPassword"      
    />
    <div class="errors" *ngIf="passwordForm.get('newPass').invalid &&
    (passwordForm.get('checkNewPassword').touched ||
      passwordForm.get('checkNewPassword').dirty)">
      <div *ngIf="passwordForm.get('checkNewPassword').errors.confirmedValidator">
        * Passwords don't match
      </div>
      <div *ngIf="passwordForm.get('checkNewPassword').hasError('required')">
        * This field is required
      </div>
    </div>
  </form>
  <div class="custom-control custom-checkbox my-4 text-left">
    <input
      type="checkbox"
      class="custom-control-input"
      id="showPassword"
      (click)="showHidePassword()"
    />
    <label
      class="custom-control-label fw-bolder showPassword ms-2"
      for="showPassword"
      >Show password</label
    >
  </div>
  <button
    class="btn btn-basic btn-lg fullWidth mt-4 submit-button"
    type="submit"
    (click)="resetPassword()"
  >
    CHANGE PASSWORD
  </button>
</div>
